[Unit]
Description="Dashboard Service"
Requires=network-online.target
After=network-online.target

[Service]
Environment=LISTEN_ADDR=127.0.0.1:9002
Environment=MESSAGE="HELLO FROM DASHBOARD"
Environment=NAME=DASHBOARD
Environment=UPSTREAM_URIS="http://localhost:5000"
EnvironmentFile=-/etc/consul.d/dashboard.env
ExecStart=/usr/local/bin/fake-service
Restart=on-failure

[Install]
WantedBy=multi-user.target
