[Unit]
Description=Consul Service Mesh Envoy Proxy for Service %i
After=network.target consul.service
Requires=consul.service

[Service]
Type=simple
ExecStart=/usr/bin/consul connect envoy -sidecar-for=%i -- -l debug
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target

